{% include "partials/head.html" %}

<body>
    {% comment %} Header da aplicação {% endcomment %}
    {% include "partials/header.html" %}

    {% comment %} barra de pesquisa {% endcomment %}
    {% include "partials/search.html" %}
    <main class="main-content-container">
        {% comment %} grid de receitas {% endcomment %}
        <div class="main-content main-content-list container">
           {%include "partials/recipe.html"%}
        </div>




    </main>

   {%include "partials/footer.html"%}

</body>

</html>